<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= categoryName%></title>
  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
  <% function getHeader()
      {
        if (userId == "") return "fragment/header";
        else return "fragment/header_user";
      } %>

  <%-include(getHeader())%>
  <div class="divtotal">
    <% function checkTime(i) 
          {
              if (i < 10) {
                  i = "0" + i;
              }
              return i;
          }
          function getDateTime(datetime)
          {
              return checkTime(datetime.getHours()) + ":" + checkTime(datetime.getMinutes()) + ":" + checkTime(datetime.getSeconds()) + "   " + checkTime(datetime.getDate()) + "/" + checkTime(datetime.getMonth()) + "/" + datetime.getFullYear();
          } %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="row">
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-12 col-md-12">
                  <h3><%= categoryName%></h3>
                </div>
              </div>
              <div class="row">
                <% if (hotPosts && hotPosts.length>0) { %>
                <div class="col-12 col-md-7">
                  <div class="post-thumb img-300">
                    <div class="img-container">
                      <a href="/postdetail/<%= hotPosts[0].category%>/<%= hotPosts[0]._id%>">
                        <img src="<%= hotPosts[0].image_url%>" alt="<%= hotPosts[0].image_title%>">
                      </a>
                    </div>
                  </div>
                  <div class="post-data">
                    <div class="post-category">
                      <a href="/posts/<%= hotPosts[0].category%>"><%= hotPosts[0].category%></a>
                      <span><%= getDateTime(hotPosts[0].post_date)%></span>
                      <i class="far fa-clock"></i>

                    </div>
                    <div class="post-title">
                      <a href="/postdetail/<%= hotPosts[0].category%>/<%= hotPosts[0]._id%>">
                        <h4><%= hotPosts[0].title%></h4>
                      </a>
                      <p><%= hotPosts[0].summary%></p>
                    </div>
                  </div>
                </div>
                <% } %>
                <% if (hotPosts) { %>
                <div class="col-12 col-md-5">
                  <% if (hotPosts.length>1) { %>
                  <div class="row">
                    <div class="col-12">
                      <div class="post-thumb img-200">
                        <div class="img-container">
                          <a href="/postdetail/<%= hotPosts[1].category%>/<%= hotPosts[1]._id%>">
                            <img src="<%= hotPosts[1].image_url%>" alt="<%= hotPosts[1].image_title%>">
                          </a>
                        </div>
                      </div>
                      <div class="post-data">
                        <div class="post-category">
                          <a href="/posts/<%= hotPosts[1].category%>"><%= hotPosts[1].category%></a>
                          <span><%= getDateTime(hotPosts[1].post_date)%></span>
                          <i class="far fa-clock"></i>

                        </div>
                        <div class="post-title">
                          <a href="/postdetail/<%= hotPosts[1].category%>/<%= hotPosts[1]._id%>">
                            <h6><%= hotPosts[1].title%></h4>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
                  <% if (hotPosts.length>2) { %>
                  <div class="row">
                    <div class="col-12">
                      <div class="post-thumb img-200">
                        <div class="img-container">
                          <a href="/postdetail/<%= hotPosts[2].category%>/<%= hotPosts[2]._id%>">
                            <img src="<%= hotPosts[2].image_url%>" alt="<%= hotPosts[2].image_title%>">
                          </a>
                        </div>
                      </div>
                      <div class="post-data">
                        <div class="post-category">
                          <a href="/posts/<%= hotPosts[2].category%>"><%= hotPosts[2].category%></a>
                          <span><%= getDateTime(hotPosts[2].post_date)%></span>
                          <i class="far fa-clock"></i>

                        </div>
                        <div class="post-title">
                          <a href="/postdetail/<%= hotPosts[2].category%>/<%= hotPosts[2]._id%>">
                            <h6><%= hotPosts[2].title%></h4>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
                <% } %>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="div1">
                <div class="section-heading dark-style">
                  <h6>Có thể bạn muốn xem</h6>
                </div>
                <% for (var i=0; i< newPosts.length; i++) {%>
                <div class="singlepost">
                  <div class="post-thumb img-90">
                    <div class="img-container">
                      <a href="/postdetail/<%= newPosts[i].category%>/<%= newPosts[i]._id%>">
                        <img class="img" src="<%= newPosts[i].image_url%>" alt="<%= newPosts[i].image_title%>">
                      </a>
                    </div>
                  </div>
                  <div class="post-data">
                    <div class="post-category">
                      <a href="/posts/<%= newPosts[i].category%>"><%= newPosts[i].category%></a>
                    </div>
                    <div class="post-title">
                      <a href="/postdetail/<%= newPosts[i].category%>/<%= newPosts[i]._id%>">
                        <p><%= newPosts[i].title%></p>
                      </a>
                      <i class="far fa-clock"></i>
                      <span><%= getDateTime(newPosts[i].post_date)%></span>
                    </div>
                  </div>
                </div>
                <% if (i == 4) break; %>
                <%}%>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
            
        </div>
        
        <div class="divtotal1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="section-heading dark-style">
                          <h6>Tin mới nhất</h6>
                        </div>
                        <div class="container">
                          <div class="row">
                              <% for (var i = 0; i < posts.length; i++) { %>
                                <div class="singlepost another-style">
                                    <div class="post-thumb img-200-2">
                                        <div class="img-container">
                                      <a href="/postdetail/<%= posts[i].category%>/<%= posts[i]._id%>">
                                          <img  src="<%= posts[i].image_url%>" alt="<%= posts[i].image_title%>">
                                      </a>
                                    </div>  
                                    </div>
                                    <div class="post-data">
                                                  <div class="post-title">
                                                    <a href="/postdetail/<%= posts[i].category%>/<%= posts[i]._id%>"><h5><%= posts[i].title%></h5></a>
                                                    <div class="post-category">
                                                            <a href="/posts/<%= posts[i].category%>/1"><%= posts[i].category%></a>
                                                            <span><%= getDateTime(posts[i].post_date)%></span>
                                                              <i class="far fa-clock"></i>                         
                                                          </div>
                                                    <p><%= posts[i].summary%></p>
                                                  </div>
                                    </div>
                                </div>
                              <% } %>
                          </div>
                        </div>
                    <%- pagination %>
                    </div>
                    <div class="col-12 col-md-4">
                            <div class="contact rating" style="margin-left:20px;">
                                    <h6>Rating Us</h6>
                                    <p>Hãy đánh giá trang web của chúng tôi theo mức độ hài lòng của bạn.</p>
                                    <div id="rater"></div></br>
                                        <button type="submit" style="margin-top:40px;" class="btn">Gửi đánh giá</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <% include fragment/footer %>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/script.js"></script>
        <script src="/js/rater-js.js"></script>
    </body>
</html>